/* CSS Document */
#mypham{
	width: 840px;
	height:auto;
	background-color:#E3DDDD;
	margin-left: auto;
	margin-right: auto;
}
.header{
	width:840px;
	height:600px;
	background-image: url(image/banner.jpg);
}
.menu{
	width:820px;
	height:70px;
	padding-top:10px;
	padding-left: 10px;
	padding-right: 10px;
}
.menu>ul{
	margin-top: 0;
	list-style: none;
}
.menu>ul>li{
	display: inline;
	margin-right: 10px;
	float: right;
}
.menu>ul>li>a{
	text-decoration: none;
	color:#2E2E2E;
	font-size: 20px;
	font-weight: bold;
}
.content{
	width:840px;
	height:800px;
	background-color: #FDE5FB;
}
.three-columns1{
	width: 838px;
	height: 790px;
	border: 1px solid #BCB8B8;
	margin:0 auto 0 auto;
	padding-top: 10px;
}
.three-columns1>.columns{
	width:270px;
	height: 390px;
	text-align: center;
	float:left;
	margin-left: 9px;
}
.three-columns1>.columns>img{
	width: 95%;
	height: 180px;
	margin-top:5px;
	transition-duration: 0.5s;
	
}
.three-columns1>.columns>img:hover{
	width: 100%;
}
.three-columns1>.columns>.text{
	text-align: left;
	float: right;
}
.three-columns1>.columns>.text>.title{
	color:dimgrey;
	font-style: italic;
	font-size: 20px;
	font-weight: bold;
	font-family: custom-font;
}
.three-columns1>.columns>.text>p{
	color:dimgrey;
	font-size: 15px;
	font-family: custom-font1;
}
.three-columns1>.columns>.text>.readmore{
	float: right;
	color: burlywood;
	text-decoration: none;
}
.footer{
	width:840px;
	height:280px;
	background-color: #000000;
}
.footer>.text{
	padding-left: 10px;
	padding-top: 15px;
}
.footer>.text>.title{
	margin:0;
	color:#FFFFFF;
	font-style: italic;
	font-size: 20px;
	font-weight: bold;
	font-family: custom-font;
}
.footer>.text>p{
	color:#FFFFFF;
	font-size: 15px;
	font-family: custom-font1;
}
.footer>p{
	color:#FFFFFF;
	font-size: 15px;
	font-family: custom-font1;
	text-align:center;
}
