/* CSS Document */
*{
	margin:0;
	padding: 0;
}
body{
	font-family: 'Montserrat', sans-serif;
}
#wrapped{
	width: 1920px;
	height: 6418px;
	background-color:#fafafa;
	margin: 0 auto;
}
.menu{
	width: 1920px;
	height: 130px;
	
	text-align: center;
}
.menu ul {
	list-style:none;
}
.menu ul li{
	display:inline-block;
	width: 150px;
	height:80px;
	margin-top: 45px;
	transition: 0.5s;
	border-bottom: 5px solid transparent;
}
.menu ul li a{
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-weight: bold;
}
.menu ul li:hover {
	border-color: #ff9934;

}
.menu ul li:hover a{
	color: #ff9934;
	
}
/*menu*/
.banner{
	width: 1920px;
	height: 1080px;
	background-image:url(img/backround1.jpg);
	text-align: center;
}
.banner P{
	color: white;
	font-size: 28px;
	font-weight:bold;
	padding-top: 190px;
	padding-bottom: 40px;
}
.banner img{
	padding-bottom: 200px;
} 
	

.banner h1{
	color: white;
	font-size: 40px;
	text-transform: uppercase;
	
}
.banner p1{
	color: grey;
	font-family: 'Merriweather', serif;
	font-size: 22px;
	font-style: italic;
	line-height: 110px;
}
.banner .line{
	width: 120px;
	border: 2px solid grey;
	margin: 0 auto;
	margin-top: 60px;
	
}
/*banner*/
.aboutus{
	width: 1920px;
	height:1130px;
	
}
.area1{
	width: 1280px;
	height: 610px;
	margin: 0 auto;
	padding-top: 155px;
}
.area1 .photo{
	width: 542px;
	height:610px;
	position:relative;
	float:left;
}
.photo .photo1{
	position:absolute;
	top:70px;
	
	
}
.photo .photo2{
	position: absolute;
	left:215px;
}
.photo .photo1 :hover{
	box-shadow: 10px 0px 40px grey;
}
.photo .photo2 :hover{
	box-shadow: 10px 0px 40px grey;
}
.area1 .text{
	width: 738px;
	height: 480px;
	float:right;
	margin-top:120px;
	text-align: center;
}
.area1 .text h1{
	margin-bottom: 20px;
	font-size: 26px;
	font-weight:bolder;
}
.area1 .text h2{
	margin-bottom: 60px;
	font-size: 18px;
	font-weight: 800pxpx;
	letter-spacing: 10px;
	
}
.area1 .text p1{
	display: block;
	padding-left: 90px;
	padding-right: 90px;
	margin-bottom: 50px;
	line-height: 25px;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
}
.area1 .text .signature{
	width: 678px;
	height:85px;
	position: relative;
}
.area1 .text .signature img{
	position: absolute;
	left:230px;
}
.area1 .text .signature p2{
	position: absolute;
	top:30px;
	left:355px;
	font-size: 18px;
}
.area2 {
	width: 1280px;
	height: 365px;
	margin: 0 auto;
}
.area2 .column{
	width: 410px;
	height: 260px;
	float:left;
	margin-left: 13px;
	margin-top: 95px;
	
}
.column icon{
	float:left;
}
.column .content{
	width: 300px;
	height: 135px;
	float:right;
}
.content p1{
	font-size:18px;
	font-weight:bold;
	
}
.content p2{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

/*aboutus*/
.feedback{
	width: 1920px;
	height: 707px;
	background-image:url(img/backround2.jpg);
	text-align: center;
	
}
.feedback h1{
	font-size:34px;
	color:white;
	padding-top: 145px;
	padding-bottom: 65px;
	text-transform: uppercase;
}
.feedback p1{
	display: block;
	font-size:17px;
	color:white;
	padding-left: 580px;
	padding-right: 580px;
	font-style: italic;
	margin-bottom: 60px;

}
.feedback img{
	margin-left: 30px;
}
.feedback h2{
	margin-top: 30px;
	color:white;
	font-size:16px;
}
.feedback p{
	color:white;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}
/*feedback*/
.team{
	width: 1920px;
	height: 770px;
	text-align: center;
}
.team h1{
	font-size: 34px;
	text-transform: uppercase;
	padding-top: 150px;
	padding-bottom:40px;
}
.line1{
	width: 120px;
	border: 1px solid #ff9934;
	margin: 0 auto;
	margin-bottom: 35px;
}
.boxes{
	width: 1310px;
	height: 500px;
	margin: 0 auto;
}
.member{
	width:375px;
	height: 500px;
	float:left;
	margin-left: 50px;
	
}
.team .member{
	background-color: white;
	transition: 1s;
	border-radius: 5px;
}
.team .member h1{
	font-size:18px;
	padding-top:25px;
	padding-bottom: 20px;

}
.team .member p1{
	color:gray;
	font-size:16px;
	
}
.team .member p2{
	display: inline-block;
	font-size:15px;
	margin-bottom: 30px;
	
	
}
.team .member:hover{
	box-shadow: 10px 0px 40px grey;
}

/*team*/
.project{
	width: 1920px;
	height: 840px;
	text-align: center;
}
.project h1{
	padding-top: 155px;
	padding-bottom: 25px;
	font-size: 34px;
}
.project .unitpro{
	width: 1870px;
	height:570px;
	margin: 0 auto;
}
.unit{
	width:430px;
	height:570px;
	float:left;
	margin-left: 30px;
}
.unit img{
	padding-bottom: 40px;
}
/*project*/
.blog{
	width: 1920px;
	height: 960px;
	text-align: center;
}
.blog h1{
	padding-top: 155px;
	padding-bottom: 30px;
}
.blog p{
	margin-bottom: 40px;
}
.blog .member{
	text-align: left;
	
}

.blog .member h1{
	padding-top: 25px;
	padding-bottom: 25px;
	font-size:18px;

}
.blog .member p1{
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
}
.blog .member p2{
	 font-family: 'Raleway', sans-serif;
	font-size: 14px;
}
.blog .member .readmore{
	font-size:15px;
	font-weight: bold;
	text-decoration: none;
	color:black;
}
/*blog*/
.map{
	width: 1920px;
	height: 503px;
	background-image: url(img/map.jpg);
}
/*map*/
.contact{
	width: 1920px;
	height: 318px;
	background-color: #333333;
	text-align: center;
	padding-top: 75px;
}
.contact p{
	color:grey;
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	padding-top: 35px;
}